// Covalent themed components
@use "./components/button" as button;
@use "./components/checkbox" as checkbox;
@use "./components/chips" as chips;
@use "./components/data-table" as data-table;
@use "./components/drawer" as drawer;
@use "./components/icon-button" as icon-button;
@use "./components/lists" as lists;
@use "./components/modal" as modal;
@use "./components/radio" as radio;
@use "./components/select" as select;
@use "./components/snackbar" as snack-bar;
@use "./components/switch" as switch;
@use "./components/tabs" as tabs;
@use "./components/text-field" as text-field;
@use "./components/top-app-bar" as top-app-bar;

@mixin covalent-theme($theme) {

  --mdc-theme-primary: #{map-get($theme, primary)};
  --mdc-theme-secondary: #{map-get($theme, secondary)};
  --mdc-theme-error: #{map-get($theme, error)};

  --mdc-theme-background: #{map-get($theme, background)};
  --mdc-theme-surface: #{map-get($theme, surface)};
  --mdc-theme-on-primary: #{map-get($theme, on-primary)};
  --mdc-theme-on-secondary: #{map-get($theme, on-secondary)};
  --mdc-theme-on-surface: #{map-get($theme, on-surface)};

  // Typography
  --mdc-typography-font-family:  Arial, sans-serif;

  --mdc-typography-headline1-font-family: 'Poppins', sans-serif;
  --mdc-typography-headline1-font-weight: 500;

  --mdc-typography-headline2-font-family: 'Poppins', sans-serif;
  --mdc-typography-headline2-font-weight: 600;

  --mdc-typography-headline3-font-family: 'Poppins', sans-serif;
  --mdc-typography-headline3-font-weight: 600;

  --mdc-typography-headline4-font-family: 'Poppins', sans-serif;
  --mdc-typography-headline4-font-weight: 700;

  --mdc-typography-headline5-font-family: 'Poppins', sans-serif;
  --mdc-typography-headline5-font-weight: 700;

  --mdc-typography-headline6-font-family: 'Poppins', sans-serif;
  --mdc-typography-headline6-font-weight: 700;

  // Text 
  --mdc-theme-text-primary-on-background: #{map-get($theme, text-primary-on-background)};
  --mdc-theme-text-secondary-on-background: #{map-get($theme, text-secondary-on-background)};
  --mdc-theme-text-hint-on-background: #{map-get($theme, text-hint-on-background)};
  --mdc-theme-text-disabled-on-background: #{map-get($theme, text-disabled-on-background)};
  --mdc-theme-text-icon-on-background: #{map-get($theme, text-icon-on-background)};

  --mdc-theme-text-primary-on-light: #{map-get($theme, text-primary-on-light)};
  --mdc-theme-text-secondary-on-light: #{map-get($theme, text-secondary-on-light)};
  --mdc-theme-text-hint-on-light: #{map-get($theme, text-hint-on-light)};
  --mdc-theme-text-disabled-on-light: #{map-get($theme, text-disabled-on-light)};
  --mdc-theme-text-icon-on-light: #{map-get($theme, text-icon-on-light)};

  --mdc-theme-text-primary-on-dark: #{map-get($theme, text-primary-on-dark)};
  --mdc-theme-text-secondary-on-dark: #{map-get($theme, text-secondary-on-dark)};
  --mdc-theme-text-hint-on-dark: #{map-get($theme, text-hint-on-dark)};
  --mdc-theme-text-disabled-on-dark: #{map-get($theme, text-disabled-on-dark)};
  --mdc-theme-text-icon-on-dark: #{map-get($theme, text-icon-on-dark)};

  // Shape
  --mdc-shape-small: 8px;
  --mdc-shape-medium: 8px;

  // Skeleton
  .skeleton-text * {
    font-family: "skeleton" !important;
  }
  .skeleton-text {
    --mdc-typography-body2-font-family: "skeleton";
    --mdc-typography-body2-letter-spacing: -0.03em;
    --mdc-theme-text-primary-on-background: #ccc;
    --skeleton-color: #ccc;
  }

  @include button.button-theme($theme);
  @include checkbox.checkbox-theme($theme);
  @include chips.chips-theme($theme);
  @include data-table.data-table-theme($theme);
  @include drawer.drawer-theme($theme);
  @include icon-button.icon-button-theme($theme);
  @include lists.lists-theme($theme);
  @include modal.modal-theme($theme);
  @include radio.radio-theme($theme);
  @include select.select-theme($theme);
  @include snack-bar.snack-bar-theme($theme);
  @include switch.switch-theme($theme);
  @include tabs.tabs-theme($theme);
  @include text-field.text-field-theme($theme);
  @include top-app-bar.top-app-bar-theme($theme);

  color: var(--mdc-theme-text-primary-on-background);

  // Links
  a[href] {
    color: var(--mdc-theme-text-primary-on-background);
    &:hover { text-decoration: underline; }
  }
}