// Covalent themed components
@use "./components/button" as button;
@use "./components/data-table" as data-table;
@use "./components/modal" as modal;
@use "./components/text-field" as text-field;
@use "./components/top-app-bar" as top-app-bar;
@use "./components/snackbar" as snack-bar;


@mixin covalent-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  --mdc-theme-primary: #{map-get($theme, primary)};
  --mdc-theme-secondary: #{map-get($theme, accent)};
  --mdc-theme-error: #{map-get($theme, error)};

  --mdc-theme-background: #{map-get($background, background)};
  --mdc-theme-surface: #{map-get($background, card)};
  --mdc-theme-on-primary: #{map-get($foreground, text)};
  --mdc-theme-on-secondary: #{map-get($foreground, secondary-text)};
  --mdc-theme-on-surface: #{map-get($foreground, text)};

  --mdc-theme-text-hint-on-background: #{map-get($foreground, hint-text)};
  --mdc-theme-text-disabled-on-background: #{map-get($foreground, disabled)};
  --mdc-theme-text-icon-on-background: #{map-get($foreground, icon)};
  --mdc-theme-text-primary-on-light: #{map-get($foreground, primary)};
  --mdc-theme-text-secondary-on-light: #{map-get($foreground, secondary-text)};
  --mdc-theme-text-hint-on-light: #{map-get($foreground, hint-text)};
  --mdc-theme-text-disabled-on-light: #{map-get($foreground, disabled)};
  --mdc-theme-text-icon-on-light: #{map-get($foreground, icon)};
  --mdc-theme-text-primary-on-dark: #{map-get($foreground, primary)};
  --mdc-theme-text-secondary-on-dark: #{map-get($foreground, secondary-text)};
  --mdc-theme-text-hint-on-dark: #{map-get($foreground, hint-text)};
  --mdc-theme-text-disabled-on-dark: #{map-get($foreground, disabled)};
  --mdc-theme-text-icon-on-dark: #{map-get($foreground, icon)};

  // Shape
  --mdc-shape-small: 8px;
  --mdc-shape-medium: 8px;
  
  // text 
  --mdc-theme-text-primary-on-background: #{map-get($foreground, text)};
  --mdc-theme-text-secondary-on-background: #{map-get($foreground, secondary-text)};

  //tabs
  --mdc-tab-text-label-color-default: #{map-get($foreground, text)};
  --mdc-tab-color-default: #{map-get($foreground, icon)};

  // Skeleton
  .skeleton-text * {
    font-family: "skeleton" !important;
  }
  .skeleton-text {
    --mdc-typography-body2-font-family: "skeleton";
    --mdc-typography-body2-letter-spacing: -0.03em;
    --mdc-theme-text-primary-on-background: #ccc;
    --skeleton-color: #ccc;
  }
  
  @include button.button-theme($theme);
  @include data-table.data-table-theme($theme);
  @include modal.modal-theme($theme);
  @include text-field.text-field-theme($theme);
  @include top-app-bar.top-app-bar-theme($theme);
  @include snack-bar.snack-bar-theme($theme);

  mdc-drawer {
    border-color: map-get($foreground, divider);
  }

  color: map-get($foreground, text);
}