@use 'material-palette';
@use 'covalent-palette';
@use 'skeleton-elements/skeleton-elements';
@use './covalent.theme.scss' as theme;

@use '@material/image-list';
@use '@material/list/evolution-mixins' as list;


@use '@material/banner/styles' as banner-styles;
@use '@material/button/mdc-button';
@use '@material/card/mdc-card';
@use '@material/checkbox/mdc-checkbox';
@use '@material/chips/deprecated/mdc-chips';
@use '@material/circular-progress/mdc-circular-progress';
// Select's styles must be emitted before datatable's due to equal specificity.
@use '@material/select/mdc-select';
@use '@material/data-table/mdc-data-table';
@use '@material/dialog/mdc-dialog';
@use '@material/drawer/mdc-drawer';
@use '@material/elevation/mdc-elevation';
@use '@material/fab/mdc-fab';
@use '@material/floating-label/mdc-floating-label';
@use '@material/form-field/mdc-form-field';
@use '@material/icon-button/mdc-icon-button';
@use '@material/image-list/mdc-image-list';
@use '@material/layout-grid/mdc-layout-grid';
@use '@material/line-ripple/mdc-line-ripple';
@use '@material/linear-progress/mdc-linear-progress';
@use '@material/list/mdc-list';
@use '@material/menu/mdc-menu';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/radio/mdc-radio';
@use '@material/ripple/mdc-ripple';
@use '@material/segmented-button/styles' as segmented-button-styles;
@use '@material/slider/styles' as slider-styles;
@use '@material/snackbar/mdc-snackbar';
@use '@material/switch/styles';
@use '@material/tab/mdc-tab';
@use '@material/tab-bar/mdc-tab-bar';
@use '@material/tab-indicator/mdc-tab-indicator';
@use '@material/tab-scroller/mdc-tab-scroller';
@use '@material/textfield/mdc-text-field';
@use '@material/theme/mdc-theme';
@use '@material/tooltip/styles' as tooltip-styles;
@use '@material/top-app-bar/mdc-top-app-bar';
@use '@material/typography/mdc-typography';

@use '@material/chips/styles' as chipStyles;
@use '@material/switch/styles' as switchStyles;


$light-theme: (
  // Foreground colors
  primary: covalent-palette.$td-teal-900,
  secondary: covalent-palette.$td-teal-900,
  error: #b11d00,
  positive: material-palette.$green-700,
  caution: material-palette.$amber-800,
  negative: #b11d00,

  on-primary: white,
  on-secondary: white,
  on-background: rgba(black, 0.87),
  on-surface: rgba(black, 0.87),
  on-error: white,

  text-primary-on-background: rgba(black, 0.87),
  text-secondary-on-background: rgba(black, 0.54),
  text-hint-on-background: rgba(black, 0.38),
  text-disabled-on-background: rgba(black, 0.38),
  text-icon-on-background: rgba(black, 0.54),
  text-logo-on-background: #354145,

  text-primary-on-light: rgba(black, 0.87),
  text-secondary-on-light: rgba(black, 0.54),
  text-hint-on-light: rgba(black, 0.38),
  text-disabled-on-light: rgba(black, 0.38),
  text-icon-on-light: rgba(black, 0.54),

  text-primary-on-dark: white,
  text-secondary-on-dark: rgba(white, 0.7),
  text-hint-on-dark: rgba(white, 0.5),
  text-disabled-on-dark: rgba(white, 0.5),
  text-icon-on-dark: white,
  
  // Surfaces
  background: material-palette.$grey-100,
  surface: white,

  // EXPANDED COVALENT THEME

  // Surfaces (expanded)
  surface-canvas: material-palette.$grey-200,

  surface-primary: covalent-palette.$td-teal-200,
  surface-primary-highlight: rgba(covalent-palette.$td-teal-200, 0.1),
  surface-primary-highlight-hover: rgba(covalent-palette.$td-teal-200, 0.2),

  surface-secondary: covalent-palette.$td-teal-200,
  surface-secondary-highlight: rgba(covalent-palette.$td-teal-200, 0.1),
  surface-secondary-highlight-hover: rgba(covalent-palette.$td-teal-200, 0.2),

  surface-positive: material-palette.$green-200,
  surface-positive-highlight: rgba(material-palette.$green-200, 0.1),
  surface-positive-highlight-hover: rgba(material-palette.$green-200, 0.2),

  surface-caution: material-palette.$orange-300,
  surface-caution-highlight: rgba(material-palette.$orange-300, 0.1),
  surface-caution-highlight-hover: rgba(material-palette.$orange-300, 0.2),

  surface-negative: material-palette.$red-300,
  surface-negative-highlight: rgba(material-palette.$red-300, 0.1),
  surface-negative-highlight-hover: rgba(material-palette.$red-300, 0.2),

  surface-neutral: material-palette.$grey-400,
  surface-neutral-highlight: rgba(material-palette.$grey-400, 0.1),
  surface-neutral-highlight-hover: rgba(material-palette.$grey-400, 0.2),

  // Foreground colors (expanded)
  divider: rgba(black, 0.12)
);

$dark-theme: (
  // Foreground colors
  primary: covalent-palette.$td-teal-300,
  secondary: covalent-palette.$td-teal-300,
  error: #f46f5a,
  positive: material-palette.$green-300,
  caution: material-palette.$orange-300,
  negative: #f46f5a,

  on-primary: rgba(black, 0.87),
  on-secondary: rgba(black, 0.87),
  on-background: white,
  on-surface: white,
  on-error: rgba(black, 0.87),

  text-primary-on-background: white,
  text-secondary-on-background: rgba(white, 0.7),
  text-hint-on-background: rgba(white, 0.5),
  text-disabled-on-background: rgba(white, 0.5),
  text-icon-on-background: white,
  text-logo-on-background: white,

  text-primary-on-light: rgba(black, 0.87),
  text-secondary-on-light: rgba(black, 0.54),
  text-hint-on-light: rgba(black, 0.38),
  text-disabled-on-light: rgba(black, 0.38),
  text-icon-on-light: rgba(black, 0.54),

  text-primary-on-dark: white,
  text-secondary-on-dark: rgba(white, 0.7),
  text-hint-on-dark: rgba(white, 0.5),
  text-disabled-on-dark: rgba(white, 0.5),
  text-icon-on-dark: white,
  
  // Surfaces
  background: covalent-palette.$td-slate-1500,
  surface: covalent-palette.$td-slate-1100,

  // EXPANDED COVALENT THEME

  // Surfaces (expanded)
  surface-canvas: covalent-palette.$td-slate-1700,

  surface-primary: covalent-palette.$td-teal-1200,
  surface-primary-highlight: rgba(covalent-palette.$td-teal-1200, 0.4),
  surface-primary-highlight-hover: rgba(covalent-palette.$td-teal-1200, 0.6),

  surface-secondary: covalent-palette.$td-teal-1200,
  surface-secondary-highlight: rgba(covalent-palette.$td-teal-1200, 0.4),
  surface-secondary-highlight-hover: rgba(covalent-palette.$td-teal-1200, 0.6),

  surface-positive: #336033,
  surface-positive-highlight: rgba(#336033, 0.4),
  surface-positive-highlight-hover: rgba(#336033, 0.6),

  surface-caution: #704c16,
  surface-caution-highlight: rgba(#704c16, 0.4),
  surface-caution-highlight-hover: rgba(#704c16, 0.6),

  surface-negative: #883e32,
  surface-negative-highlight: rgba(#883e32, 0.4),
  surface-negative-highlight-hover: rgba(#883e32, 0.6),

  surface-neutral: covalent-palette.$td-slate-800,
  surface-neutral-highlight: rgba(covalent-palette.$td-slate-800, 0.4),
  surface-neutral-highlight-hover: rgba(covalent-palette.$td-slate-800, 0.6),

  // Foreground colors (expanded)
  divider: rgba(white, 0.2)
);

:root {
  @include theme.covalent-theme($light-theme);
}

.dark {
    @include theme.covalent-theme($dark-theme);
}

// TD Tiger stripe
body:after {
  content: "";
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  z-index: 1000;
  background-color: #f3753f;
}

// Image list
.mdc-image-list {
  @include image-list.masonry-columns(2);
}
