@font-face {
  font-family: "teradata-icons";
  src: url("./teradata-icons.eot?dus3fy");
  src: url("./teradata-icons.eot?dus3fy#iefix")
      format("embedded-opentype"),
    url("./teradata-icons.ttf?dus3fy") format("truetype"),
    url("./teradata-icons.woff?dus3fy") format("woff"),
    url("./teradata-icons.svg?dus3fy#teradata-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "teradata-icons";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cluster_analysis:before {
  content: "\e900";
}
.icon-data_preparation:before {
  content: "\e901";
}
.icon-data_sources:before {
  content: "\e902";
}
.icon-loader-dots:before {
  content: "\e903";
}
.icon-machine_learning:before {
  content: "\e904";
}
.icon-node_branch:before {
  content: "\e905";
}
.icon-node_merge:before {
  content: "\e906";
}
.icon-operators_equals:before {
  content: "\e907";
}
.icon-operators_greater_than_or_equal:before {
  content: "\e908";
}
.icon-operators_less_than_or_equal:before {
  content: "\e909";
}
.icon-operators_multiply:before {
  content: "\e90a";
}
.icon-operators_not_equal:before {
  content: "\e90b";
}
.icon-operators_subtract:before {
  content: "\e90c";
}
.icon-outbound_campaign_manager:before {
  content: "\e90d";
}
.icon-script_macro_ondark:before {
  content: "\e90e";
}
.icon-script_macro:before {
  content: "\e90f";
}
.icon-script_sql_ondark:before {
  content: "\e910";
}
.icon-script_sql:before {
  content: "\e911";
}
.icon-script_stored_procedure_ondark:before {
  content: "\e912";
}
.icon-script_stored_procedure:before {
  content: "\e913";
}
.icon-variable_ondark:before {
  content: "\e914";
}
.icon-variable:before {
  content: "\e915";
}
.icon-view_sankey:before {
  content: "\e916";
}
.icon-workflow:before {
  content: "\e917";
}
