@use '@material/list' as list;
@use '@material/list/evolution-mixins' as evolution-mixins;

@mixin lists-theme($theme) {
  $border: map-get($theme, divider);
  $text: map-get($theme, text-primary-on-background);

  --mdc-list-single-line-height: 48px;
  --mdc-list-two-line-height: 72px;

  @include list.deprecated-divider-color($border);  
  @include evolution-mixins.divider-color($border);

  // Menu
  .mdc-menu .mdc-deprecated-list {
    @include list.deprecated-item-primary-text-ink-color($text);
  }

  // List
  .mdc-list {
    
    @include evolution-mixins.one-line-item-height(var(--mdc-list-single-line-height, 48px));
    @include evolution-mixins.two-line-item-height(var(--mdc-list-two-line-height, 72px));
    .mdc-list-item {
        height: var(--mdc-list-single-line-height, 48px);
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &.mdc-list--two-line .mdc-list-item {
        height: var(--mdc-list-two-line-height, 72px);

        .mdc-list-item__primary-text {
            display: block;
            margin-bottom: -8px;
        }
    }
  }

  // Divider
  [divider] {
    border-bottom-color: $border;
  }
}
