@mixin text-field-theme($theme) {
    $text-secondary: map-get($theme, text-secondary-on-background);
    $divider: map-get($theme, divider);
    $primary-highlight-hover: map-get($theme, primary);
    
    --mdc-text-field-label-ink-color: #{$text-secondary};
    --mdc-text-field-outlined-idle-border-color: #{$divider};
    --mdc-text-field-outlined-hover-border-color: #{$primary-highlight-hover};
}
