@use "@material/top-app-bar";


@mixin top-app-bar-theme($theme) {
  $background: map-get($theme, background);
  $surface: map-get($background, card);

  mwc-top-app-bar, mwc-top-app-bar-fixed {
    --mdc-theme-primary: #{$surface};
  }
}
