.sb-show-main .sbdocs-wrapper {
  background-color: var(--mdc-theme-background);
  background-image: url(./globe.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 24rem;
  color: var(--mdc-theme-text-secondary-on-background);
  padding: 4rem 1.5rem 1.5rem;
}

.sbdocs-wrapper {
  padding-top: 0;
}

.sbdocs-content {
  font-size: 16px;
  max-width: 64rem;
}
.sbdocs-content table.docblock-argstable {
  border-collapse: unset;
  border-radius: 0;
}
.sbdocs-content table.docblock-argstable tbody {
  box-shadow: none;
}
.sbdocs-content table.docblock-argstable tbody tr {
  height: 3rem;
}
.sbdocs-content table.docblock-argstable tbody td {
  background: transparent;
  border-bottom: 1px solid var(--mdc-theme-border);
  color: var(--mdc-theme-text-primary-on-background);
  font-family: var(--mdc-typography-font-family);
  font-size: var(--mdc-typography-body1-font-size);
  font-weight: var(--mdc-typography-body1-font-weight);
  line-height: var(--mdc-typography-body1-line-height);
  min-height: 3rem;
  padding: 0 1rem;
  vertical-align: middle;
}
.sbdocs-content table.docblock-argstable tbody td:first-of-type {
  padding-left: 1rem !important;
}
.sbdocs-content table.docblock-argstable tbody td:last-of-type {
  padding-right: 1rem !important;
}
.sbdocs-content table.docblock-argstable .docblock-argstable-head tr {
  height: 3.5rem;
}
.sbdocs-content table.docblock-argstable .docblock-argstable-head th {
  background: transparent;
  border-bottom: 1px solid var(--mdc-theme-border);
  color: var(--mdc-theme-text-primary-on-background);
  font-family: var(--mdc-typography-subtitle2-font-family);
  font-size: var(--mdc-typography-subtitle2-font-size);
  font-weight: var(--mdc-typography-subtitle2-font-weight);
  line-height: var(--mdc-typography-subtitle2-line-height);
  min-height: 3.5rem;
  padding: 0 1rem;
  vertical-align: middle;
}

.sbdocs .link-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1.5rem;
  margin-top: 4rem;
}
@media (min-width: 620px) {
  .sbdocs .link-list {
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (-ms-high-contrast: none) {
  .sbdocs .link-list {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
  }
}
.sbdocs a.link-item {
  display: block;
  padding: 16px;
  border: 1px solid var(--mdc-theme-border);
  border-radius: 8px;
  transition: background 150ms ease-out, border 150ms ease-out, transform 150ms ease-out;
  color: var(--mdc-theme-text-secondary-on-background);
  display: flex;
  align-items: flex-start;
  min-height: 4rem;
  text-decoration: none;
}
.sbdocs a.link-item:hover {
  background-color: var(--mdc-theme-surface-neutral-highlight);
  text-decoration: none;
}
.sbdocs a.link-item:active {
  color: var(--mdc-theme-primary);
  background-color: var(--mdc-theme-surface-primary-highlight-hover);
}
.sbdocs a.link-item:active strong {
  color: var(--mdc-theme-primary);
}
.sbdocs a.link-item img {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  flex: none;
}
.sbdocs a.link-item span {
  font-family: var(--mdc-typography-font-family);
  font-size: var(--mdc-typography-body1-font-size);
  font-weight: var(--mdc-typography-body1-font-weight);
  line-height: var(--mdc-typography-body1-line-height);
}
.sbdocs a.link-item strong {
  font-family: var(--mdc-typography-headline6-font-family);
  font-size: var(--mdc-typography-headline6-font-size);
  font-weight: var(--mdc-typography-headline6-font-weight);
  line-height: var(--mdc-typography-headline6-line-height);
  color: var(--mdc-theme-text-primary-on-background);
  display: block;
  margin-bottom: 8px;
}
.sbdocs .sbdocs-h1,
.sbdocs .sbdocs-title {
  color: var(--mdc-theme-text-primary-on-background);
  font-family: var(--mdc-typography-headline1-font-family);
  font-size: var(--mdc-typography-headline1-font-size);
  font-weight: var(--mdc-typography-headline1-font-weight);
  line-height: var(--mdc-typography-headline1-line-height);
  margin-bottom: 4rem;
  margin-top: 10rem;
}
.sbdocs .sbdocs-h1#covalent-design-system,
.sbdocs .sbdocs-title#covalent-design-system {
  margin-top: none;
  max-width: 40rem;
}
.sbdocs .sbdocs-h2,
.sbdocs .sbdocs-h2:first-of-type {
  border: none;
  color: var(--mdc-theme-text-primary-on-background);
  font-family: var(--mdc-typography-headline2-font-family);
  font-size: var(--mdc-typography-headline2-font-size);
  font-weight: var(--mdc-typography-headline2-font-weight);
  line-height: var(--mdc-typography-headline2-line-height);
  margin-bottom: 1.5rem;
  margin-top: 8rem;
}
.sbdocs .sbdocs-h3 {
  color: var(--mdc-theme-text-primary-on-background);
  font-family: var(--mdc-typography-headline3-font-family);
  font-size: var(--mdc-typography-headline3-font-size);
  font-weight: var(--mdc-typography-headline3-font-weight);
  line-height: var(--mdc-typography-headline3-line-height);
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}
.sbdocs .sbdocs-h4 {
  color: var(--mdc-theme-text-primary-on-background);
  font-family: var(--mdc-typography-headline4-font-family);
  font-size: var(--mdc-typography-headline4-font-size);
  font-weight: var(--mdc-typography-headline4-font-weight);
  line-height: var(--mdc-typography-headline4-line-height);
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}
.sbdocs .sbdocs-h5 {
  color: var(--mdc-theme-text-primary-on-background);
  font-family: var(--mdc-typography-headline5-font-family);
  font-size: var(--mdc-typography-headline5-font-size);
  font-weight: var(--mdc-typography-headline5-font-weight);
  line-height: var(--mdc-typography-headline5-line-height);
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}
.sbdocs .sbdocs-h6 {
  color: var(--mdc-theme-text-primary-on-background);
  font-family: var(--mdc-typography-headline6-font-family);
  font-size: var(--mdc-typography-headline6-font-size);
  font-weight: var(--mdc-typography-headline6-font-weight);
  line-height: var(--mdc-typography-headline6-line-height);
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}
.sbdocs .sbdocs-p {
  color: var(--mdc-theme-text-secondary-on-background);
  font-size: var(--mdc-typography-body1-font-size);
  font-weight: var(--mdc-typography-body1-font-weight);
  line-height: var(--mdc-typography-body1-line-height);
}
.sbdocs .subheading {
  color: var(--mdc-theme-text-primary-on-background);
  font-size: var(--mdc-typography-headline4-font-size);
  font-weight: var(--mdc-typography-headline4-font-weight);
  line-height: var(--mdc-typography-headline4-line-height);
  margin-bottom: 1rem;
  margin-top: 4rem;
}
.sbdocs .docs-story {
  background: var(--mdc-theme-surface);
}
.sbdocs .os-host {
  background: var(--mdc-theme-surface);
}
.sbdocs .sbdocs-preview {
  background: var(--mdc-theme-surface);
  border-color: var(--mdc-theme-surface);
  margin-top: 0;
  margin-bottom: 4rem;
}

/*# sourceMappingURL=md-styles.css.map */
