body {
  display: flex;
  margin: 0;
}

.remix-fab {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 200;
}

.drawer-content--theme-summary {
  display: none;
}

.theme-name {
  margin-bottom: 0;
}
.theme-name:focus {
  outline: 1px solid rgba(0, 0, 0, 0.12);
}
.theme-name:empty:before {
  content: attr(placeholder);
  color: rgba(0, 0, 0, 0.6);
}

.mdc-list-divider.theme-summary-divider {
  border-bottom-width: 2px;
  margin: 20px 0;
}

.theme-summary-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}
.theme-summary-line figure {
  margin: 0;
}
.theme-summary-line .theme-summary-code {
  background: none;
}
.theme-summary-line .theme-summary-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.theme-summary-line .theme-summary-shape {
  width: 48px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
.theme-summary-line.theme-summary-line--typography {
  margin: 0;
}
.theme-summary-line .theme-summary-typography {
  width: 120px;
}

.mdc-list-divider.typography-baseline-divider {
  margin-top: 0;
  margin-bottom: 12px;
}

.mdc-drawer-app-content {
  width: 100%;
}

.theme-builder-desc-banner {
  display: none;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  padding: 10px;
}

@media (max-width: 1310px) {
  .theme-builder-app-bar, .theme-builder-desc-banner {
    display: block;
  }

  .theme-builder-drawer {
    display: none;
  }
}
.main-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.main-content:not(.mdc-top-app-bar--fixed-adjust) {
  padding: 2vh 0;
}
.main-content .column {
  width: 420px;
}

.component-section-row {
  display: flex;
}
.component-section-row .component-section:first-child {
  width: 200px;
}

.component-section {
  margin: 16px 20px 40px 20px;
}
.component-section.dialog-component-section {
  margin-bottom: 60px;
}

@media only screen and (max-width: 600px) {
  .component-section {
    margin-left: auto;
    margin-right: auto;
  }

  .mdc-image-list {
    width: auto;
  }

  .mdc-drawer {
    width: 60%;
    min-width: calc(100% - 56px);
  }

  .column {
    width: auto;
    max-width: 420px;
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media only screen and (max-width: 485px) {
  .column {
    overflow: hidden;
  }

  .remix-fab {
    position: fixed;
    bottom: 16px;
    right: auto;
    margin: 0;
    z-index: 200;
  }

  .mdc-dialog .mdc-dialog__surface {
    max-width: calc(100% - 100px);
  }
}
.section-header {
  display: flex;
  height: 36px;
  font-family: Roboto, sans-serif;
}
.section-header a {
  display: flex;
  align-items: center;
}
.section-header a:hover, .section-header a:focus {
  text-decoration: none;
}
.section-header .material-icons {
  font-size: 1rem;
  padding: 8px;
}
.section-header .material-icons.leading-icon {
  padding-left: 0;
}

.component-wrapper {
  margin: 16px 0;
}

.print .column {
  width: 30vw;
}
.print .component-wrapper {
  margin-bottom: 60px;
}
.print .component-wrapper.text-field-component-wrapper, .print .component-wrapper.chips-component-wrapper {
  margin-bottom: 96px;
}
.print .theme-name {
  margin-bottom: 8px;
}
.print .glitch-url {
  font-size: 1rem;
}
.print .drawer-content--instructions .mdc-typography--overline {
  font-size: 0.9rem;
}
.print .drawer-content--instructions .mdc-typography--body2 {
  font-size: 1.2rem;
  line-height: 1.75rem;
}
.print .drawer-content--options {
  display: none;
}
.print .button-component-wrapper,
.print .fab-component-wrapper {
  margin: 24px 0 44px;
}
.print .top-bar-component-wrapper {
  margin: 24px 0 52px;
}
.print .switch-component-wrapper {
  margin-left: -8px;
  margin-top: 24px;
}
.print .component-wrapper.checkbox-component-wrapper {
  margin-left: -18px;
}
.print .component-wrapper.chips-component-wrapper-1 {
  margin: 12px 0 92px -8px;
}
.print .select-component {
  margin: 0 20px 40px 20px;
}
.print .column-2 {
  transform: translate(-16px);
}
.print .card-component-wrapper {
  margin: 16px 0 38px;
}
.print .component-wrapper.text-field-component-wrapper-1 {
  margin: 22px 0 90px;
}
.print .dialog-component-wrapper {
  margin: 8px 0 52px;
}
.print .linear-progress-section {
  margin-top: -8px;
}
.print .tabs-section {
  margin-top: -16px;
}
.print .radio-row {
  margin-top: -24px;
  margin-bottom: -16px;
}
.print .snackbar-section {
  margin-top: -16px;
}
.print .image-section {
  margin-top: -4px;
}
.print .switch-section {
  margin-top: 0;
}
.print .short-app-bar-section,
.print .menu-section {
  margin-top: 0px;
}
.print .switch-checkbox-row {
  margin-bottom: 16px;
}
.print .list-section {
  margin-top: 8px;
}
.print .dialog-component-section {
  margin-bottom: 52px;
  margin-top: -16px;
}
.print .chips-section {
  margin: 16px 20px -32px 20px;
}
.print .image-list-section {
  transform: translateY(-8px);
}

.typography-callout {
  font-size: 12px;
  padding: 16px;
}

.font-link {
  font-size: 12px;
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -16px;
}

.font-link i {
  font-size: 16px;
  margin-left: 8px;
}

.theme-shape .varValue {
  display: block;
}

.varValue {
  font-weight: 600;
}

.mdc-checkbox, .mdc-radio {
  margin-right: 4px;
}

.component-wrapper .mdc-top-app-bar {
  position: relative;
  z-index: 1;
}
.component-wrapper .mdc-top-app-bar:not(.mdc-top-app-bar--short) {
  width: 100%;
}

.mdc-card {
  width: 100%;
}
.mdc-card .demo-card__primary {
  padding: 1rem;
}
.mdc-card .demo-card__title,
.mdc-card .demo-card__subtitle {
  margin: 0;
}
.mdc-card .demo-card__secondary {
  padding: 0 1rem 8px;
  opacity: 0.87;
}

.mdc-linear-progress {
  width: 100%;
}

.mdc-menu-surface--anchor > .mdc-menu {
  position: relative;
  z-index: 1;
}

.mdc-select {
  width: 160px;
}

.drawer-component-wrapper {
  background: rgba(0, 0, 0, 0.3);
}
.drawer-component-wrapper .mdc-drawer .mdc-drawer__content {
  padding: 0;
}

.mdc-text-field {
  width: 100%;
}

.mdc-snackbar {
  position: relative;
  margin: 0;
  justify-content: start;
  z-index: 1;
}

.mdc-dialog {
  position: relative;
  justify-content: start;
  z-index: 1;
}
.mdc-dialog .mdc-dialog__surface {
  max-width: 100%;
}

.mdc-image-list {
  max-width: 400px;
  max-height: 600px;
  margin: 0;
}

.component-wrapper.button-component-wrapper, .component-wrapper.fab-component-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=kitchen-sink.css.map */
